.cart_close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
}
.cart-table table tbody tr td {
    min-width: 0;
}
@media (max-width: 480px) {
    .product{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .product-detail{
        margin-left: 0 !important;
    }
    
    /* .cart-table table tbody tr td.product-detail .product .product-image {
        width: 40px;
    } */
}
.quantity{
    min-width: 110px !important;
}