.category-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.odd{
    max-width: 100px;
}
.payment-amount{
    text-align: center;
    padding: 20px;
    background-color: rgb(194, 165, 221);
}
.Customer-search{
    border:0.9px solid rgb(228, 220, 220);
    width: 100%;
    border-radius: 2px;
}


@media only screen and (max-width: 576px) {
    .purchase-table-details{
        font-size: 8px;
    }
    .purchase-table-text{
        font-size: 12px !important;
        font-weight: 600;
    }
    .purchase-table-head{
        padding-right: 1px !important;
        padding-left: 1px !important;
        min-width: 0px !important;
    }
    .one-col{
        max-width: 132px;
        overflow: hidden;
    }
    .sec-col{
        max-width: 54px;
        overflow: hidden;

    }
    
  }
